.App {
  margin: 0;
  padding: 0;
  text-align: center;
  height: 100vh;
  display: flex;
}

.details_Bar {
  background-color: grey;
  width: 30%;
  /* height: 100vh; */
  display: flex;
}

.map {
  background-color: red;
  width: 70%;
  height: 100vh;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .App {
    flex-direction: column;
  }

  .details_Bar {
    background-color: grey;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

  }

  .map {
    background-color: red;
    width: 100%;
    height: 70vh;
    position: absolute;
    margin-top: 665px;
  }
}
