.sideBar {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 25px;
  margin: auto;
}

.header {
  height: 10vh;
  background-color: green;
  display: flex;
}

.filterArea {
  height: 30vh;
  background-color: grey;
}

.listViewArea {
  height: 60vh;
  background-color: yellow;
}
