#filterTitle {
  color:black;
}

input {
  border: 1px solid black;
}

select {
  border: 1px solid black;
}

#location {
  text-align: center;
}

button {
  background-color: green;
  padding: 5px 20px;
  box-shadow: 0;
  color: white;
  border-radius: 10px;
  border: 1px solid black;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
